---
import Layout from "@/components/layout/Layout.astro";
import Header from "@/components/layout/Header.astro";
---
<Layout title="EloLin" locale="en">
  <Header />
  <main class="pt-32 container mx-auto px-6">
    <h1 class="text-display-2">Header smoke</h1>
    <div class="h-[200vh]"></div>
  </main>
</Layout>
