---
import "../styles/global.css";
---
<html lang="en">
  <head><title>EloLin</title></head>
  <body class="bg-bg-0 text-fg-0 font-sans">
    <h1 class="text-display-2 bg-grad-brand bg-clip-text text-transparent">
      One person. Many products.
    </h1>
    <p class="text-fg-1 mt-4">Tokens loaded.</p>
  </body>
</html>
