---
import Layout from "@/components/layout/Layout.astro";
---
<Layout title="EloLin" locale="en">
  <main class="container mx-auto px-6 py-32">
    <h1 class="text-display-2 bg-grad-brand bg-clip-text text-transparent">
      One person. Many products.
    </h1>
  </main>
</Layout>
